body {
    background-color: rgb(196, 120, 120);
    background-image: url("https://image.shutterstock.com/image-illustration/coronavirus-covid19-under-microscope-3d-600w-1643947495.jpg");
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .image {
    width: 370px;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }